<div class="card my-10">
  <div class="card-header">
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <span class="svg-icon svg-icon-1 position-absolute ms-4">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              opacity="0.5"
              x="17.0365"
              y="15.1223"
              width="8.15546"
              height="2"
              rx="1"
              transform="rotate(45 17.0365 15.1223)"
              fill="currentColor"
            ></rect>
            <path
              d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
              fill="currentColor"
            ></path>
          </svg>
        </span>
        <input
          #textInput
          type="text"
          data-kt-ecommerce-product-filter="searchModel"
          class="form-control form-control-solid w-sx-250px w-xl-350px ps-14"
          placeholder="Tìm kiếm"
          (keyup.enter)="onChangeSearchKey(textInput.value)"
        />
      </div>
      <button
        class="btn btn-primary ms-2 me-2"
        type="submit"
        (click)="onChangeSearchKey(textInput.value)"
      >
        Tìm kiếm
      </button>
    </div>

    <div
      class="card-toolbar"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      data-bs-trigger="hover"
      title="Thêm mới"
    >
      <a class="btn btn-lg btn-light-primary" (click)="onCreate()">
        <span
          [inlineSVG]="'./assets/media/icons/duotune/arrows/arr075.svg'"
          class="svg-icon svg-icon-3"
        ></span>
        Thêm mới
      </a>
    </div>
  </div>
  <div class="card-body">
    <table
      class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4"
    >
      <thead>
        <tr class="fw-bolder text-muted text-uppercase">
          <!--          <th class="w-25px">-->
          <!--            <div-->
          <!--              class="form-check form-check-sm form-check-custom form-check-solid"-->
          <!--            >-->
          <!--              <input-->
          <!--                class="form-check-input"-->
          <!--                type="checkbox"-->
          <!--                [(ngModel)]="isMasterSelect"-->
          <!--                (click)="selectAll($event)"-->
          <!--              />-->
          <!--            </div>-->
          <!--          </th>-->
          <th>Tên tài khoản</th>
          <th>Họ tên</th>
          <th>Trạng thái</th>
          <th class="text-end">Xử lý</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="users$ | async as users; else loading">
          <tr *ngFor="let data of users">
            <!--          <td *ngIf="allowSelectRows && !readonly">-->
            <!--            <div-->
            <!--              class="form-check form-check-sm form-check-custom form-check-solid"-->
            <!--            >-->
            <!--              <input-->
            <!--                class="form-check-input"-->
            <!--                type="checkbox"-->
            <!--                [(ngModel)]="data.checked"-->
            <!--                (change)="selectRow()"-->
            <!--                [value]="data.mac"-->
            <!--              />-->
            <!--            </div>-->
            <!--          </td>-->
            <td>
              <a class="text-dark fw-bolder text-hover-primary fs-6">
                {{ data.username }}
              </a>
            </td>
            <td>
              <a class="text-dark fw-bold d-block mb-1 fs-6">
                {{ data.firstName }}
              </a>
              <span class="text-muted fw-semibold text-muted d-block fs-7">
                {{ data.lastName }}
              </span>
            </td>
            <td>
              <span
                [class]="
                  data.enabled === true
                    ? 'badge badge-primary'
                    : 'badge badge-danger'
                "
              >
                {{ data.enabled === true ? "Kích hoạt" : "Vô hiệu hóa" }}
              </span>
            </td>
            <td>
              <div class="d-flex justify-content-end flex-shrink-0 menu-item">
                <a
                  id="dropdownMenuHandle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  class="dropdown-toggle btn btn-bg-light btn-active-color-primary btn-sm me-1"
                >
                  Thao tác
                </a>
                <app-dropdown-menu
                  class="dropdown-menu"
                  aria-labelledby="dropdownMenuHandle"
                  [allowToggleStatus]="true"
                  [currentStatus]="data.enabled"
                  (toggleStatus)="onToggleStatus(data.id, data.enabled)"
                  (delete)="onDelete(data.id, data.username)"
                  (edit)="onEdit(data.id)"
                ></app-dropdown-menu>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <ng-container *ngIf="length$ | async as length">
      <div
        class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start"
      >
        <div class="fw-bold me-5">
          <select
            class="form-select form-select-solid"
            [(ngModel)]="searchModel.size"
            (change)="onSearch()"
          >
            <option *ngFor="let size of sizeList" [ngValue]="size">
              {{ size }}
            </option>
          </select>
        </div>
        <div class="fs-7 text-gray-600">
          <span
            *ngIf="
              length - ((searchModel.page - 1) * searchModel.size + 1) <
                searchModel.size;
              else elseBlock
            "
          >
            Hiển thị từ {{ (searchModel.page - 1) * searchModel.size + 1 }} tới
            {{ length }} trên tổng số {{ length }} bản ghi
          </span>
          <ng-template #elseBlock>
            Hiển thị từ {{ (searchModel.page - 1) * searchModel.size + 1 }} tới
            {{ searchModel.page * searchModel.size }} trên tổng số
            {{ length }} bản ghi
          </ng-template>
        </div>
      </div>
      <div
        class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-end"
      >
        <ngb-pagination
          class="d-flex justify-content-center"
          (pageChange)="onChangePage($event)"
          [collectionSize]="length"
          [(page)]="searchModel.page"
          [pageSize]="searchModel.size"
          [maxSize]="searchModel.maxSize"
          [rotate]="searchModel.rotate"
        >
          <ng-template ngbPaginationPrevious>{{
            searchModel.previous
          }}</ng-template>
          <ng-template ngbPaginationNext>{{ searchModel.next }}</ng-template>
          <ng-template ngbPaginationEllipsis>...</ng-template>
        </ngb-pagination>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #loading>
  <tr>
    <td colspan="4">
      <app-neun-loading></app-neun-loading>
    </td>
  </tr>
</ng-template>
