.top-green-text {
  color: var(--topGreenColor);
}
.total-text-color{
  color: rgba(83, 83, 83, 1);
}
.table-operational-command th:nth-child(1),  
.table-operational-command td:nth-child(1) {  
  width: 7.5%;  
}

.table-operational-command th:nth-child(3),
.table-operational-command th:nth-child(4),
.table-operational-command td:nth-child(3),
.table-operational-command td:nth-child(4) {  
  width: 15%;   
}

.table-operational-command th:nth-child(2),
.table-operational-command td:nth-child(2) {  
  width: 62.5%; 
}
.table-operational-command{
  td{
    // padding: 4px 24px !important;
  }
}


.e-control {
  font-size: 1em;
}

.e-tip-content {
  font-size: 2em;
  padding: 0.2em;
}
.table-operational-command td,
.table-operational-command th {
  padding: 12px 16px; /* Trên-dưới 12px, trái-phải 16px */
  vertical-align: middle; /* Canh giữa theo chiều dọc */
}
.table-operational-command tbody tr:nth-child(even) {
  background-color: #f4f6f7; /* Màu nền xen kẽ */
}
.table-operational-command th{
  background-color: #f4f6f7; /* Màu nền cho tiêu đề */
}