<div>
  <h2>Thống kê theo cấp độ và trạng thái</h2>
  <div style="height: 600px;">
    <div echarts [options]="statisticLevelStatusChartOption" class="statistic-domain-chart-popup" [autoResize]="true"></div>
    <!-- <ejs-chart
      [primaryXAxis]="primaryXAxis"
      [primaryYAxis]="primaryYAxis"
      id="chart-container"
      height="100%"
      (textRender)="onTextRender($event)"
    >
      <e-series-collection>
        <e-series
          [dataSource]="chartData"
          type="Column"
          xName="name"
          yName="connect"
          fill="#045E2B"
          [marker]="marker"
          columnWidth="0.25"
        ></e-series>
        <e-series
          [dataSource]="chartData"
          type="Column"
          xName="name"
          yName="disconnect"
          fill="#F58501"
          [marker]="marker"
          columnWidth="0.25"
        ></e-series>
      </e-series-collection>
    </ejs-chart> -->
  </div>
</div>
