<div class="d-flex flex-column" style="padding: 18px 20px;width: 3836px; background-color: #f4f6f7;">
  <app-top-panel></app-top-panel>
  <div class="row">
    <div *ngIf="!(showMap$ | async)" class="d-flex gap-2" style="padding-bottom: 20px">
      <button (click)="hideTCM()" class="view-toggle-btn" [ngClass]="{ active: !isHideTCM }">
        <i class="bi-layout-wtf"></i>
      </button>
      <button type="button" class="btth-btn"
        [ngClass]="{ active: hoveredNetwork === 'internet' || (!hoveredNetwork && selectedNetwork === 'internet') }"
        (click)="selectNetwork('internet')" (mouseenter)="hoveredNetwork = 'internet'"
        (mouseleave)="hoveredNetwork = null">
        Mạng Internet
      </button>

      <button type="button" class="btth-btn"
        [ngClass]="{ active: hoveredNetwork === 'military' || (!hoveredNetwork && selectedNetwork === 'military') }"
        (click)="selectNetwork('military')" (mouseenter)="hoveredNetwork = 'military'"
        (mouseleave)="hoveredNetwork = null">
        Mạng máy tính Quân sự
      </button>

      <button type="button" class="btth-btn"
        [ngClass]="{ active: hoveredNetwork === 'special' || (!hoveredNetwork && selectedNetwork === 'special') }"
        (click)="selectNetwork('special')" (mouseenter)="hoveredNetwork = 'special'"
        (mouseleave)="hoveredNetwork = null">
        Mạng chuyên dụng
      </button>
    </div>
    <ng-container *ngIf="selectedNetwork === 'special'; else notCd">
      <app-mangcd></app-mangcd>
    </ng-container>

    <ng-template #notCd>
      <ng-container *ngIf="selectedNetwork === 'military'; else other">
        <app-mangqs></app-mangqs>
      </ng-container>
    </ng-template>

    <ng-template #other>
      <!-- Còn lại -->
      <div *ngIf="(showMap$ | async)" class="col-6">
        <div class="section-title">
          <span (click)="toggleMap()" class="close-icon1">✕</span>
          <span class="title-text">Hình thái chung</span>
        </div>

      </div>

      <div class="col-6 row gap-6">
        <div *ngIf="(showMap$ | async)" class="d-flex gap-2" style="padding-bottom: 20px">
          <button type="button" class="btth-btn"
            [ngClass]="{ active: hoveredNetwork === 'internet' || (!hoveredNetwork && selectedNetwork === 'internet') }"
            (click)="selectNetwork('internet')" (mouseenter)="hoveredNetwork = 'internet'"
            (mouseleave)="hoveredNetwork = null">
            Mạng Internet
          </button>

          <button type="button" class="btth-btn"
            [ngClass]="{ active: hoveredNetwork === 'military' || (!hoveredNetwork && selectedNetwork === 'military') }"
            (click)="selectNetwork('military')" (mouseenter)="hoveredNetwork = 'military'"
            (mouseleave)="hoveredNetwork = null">
            Mạng máy tính Quân sự
          </button>

          <button type="button" class="btth-btn"
            [ngClass]="{ active: hoveredNetwork === 'special' || (!hoveredNetwork && selectedNetwork === 'special') }"
            (click)="selectNetwork('special')" (mouseenter)="hoveredNetwork = 'special'"
            (mouseleave)="hoveredNetwork = null">
            Mạng chuyên dụng
          </button>
        </div>
      </div>

      <div *ngIf="(showMap$ | async)" class="col-6">
        <app-map-component></app-map-component>
      </div>
      <div *ngIf="(showMap$ | async)" class="col-6">
        <app-tcm-map></app-tcm-map>
      </div>

      <div class="row" *ngIf="!(showMap$ | async)">
        <div class="row gutter-12">
          <ng-container *ngIf="!isHideTCM; else hideTCM">
            <!-- app-ts bên trái -->
            <div @slideLeftFade class="col-3">
              <!-- <div class="row"> -->

              <app-ts></app-ts>
              <!-- </div> -->
            </div>

            <!-- app-ptm + app-tcm bên phải -->
            <div class="col-9">
              <div class="row gap-8">
                <div class="col-12" @slideFade>

                  <app-ptm></app-ptm>

                </div>
                <div @slideLeftFadeTCM class="col-12">

                  <app-tcm></app-tcm>

                </div>
              </div>
            </div>
          </ng-container>

          <!-- Khi isHideTCM = true: ts nằm dưới ptm -->
          <ng-template #hideTCM>
            <div class="col-12" @slideFadeHide>
              <div style="margin-left: -24px;" class="border">
                <app-ptm></app-ptm>
              </div>
            </div>
            <div class="col-12" @slideLeftFadeHide>
              <app-ts-2></app-ts-2>
            </div>
          </ng-template>
        </div>


      </div>
    </ng-template>
    <!-- <div class="col-3">
      <app-right-panel></app-right-panel>
    </div>
    <div class="col-9">
      <app-left-panel></app-left-panel>
    </div> -->
    <!-- <app-mangqs></app-mangqs> -->
    <!-- <app-mangcd></app-mangcd> -->

  </div>
</div>