<div class="h-100">
  <div class="d-flex align-items-center gap-2">
    <svg width="8" height="27" viewBox="0 0 8 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect y="0.5" width="8" height="26" rx="4" fill="#0050C7" />
    </svg>
    <h3 [ngClass]="isShowDiemNong ? 'active' : ''">
      Điểm nóng
    </h3>
  </div>
  <div class="table-protecting-target" style="height: 320px;">
    <ng-container *ngIf="hotSpotData | async as data">
      <!-- <ejs-accumulationchart class="chart-right-panel" [enableSmartLabels]="true" [title]="relatedTargetTitle"
        [legendSettings]="accumulationLegendSettings" [center]="{ x: '50%', y: '40%' }"
        (legendRender)="legendRender($event, data)" (pointClick)="PointClick($event)" [centerLabel]="centerLabel">
        <e-accumulation-series-collection>
          <e-accumulation-series [dataSource]="data" xName="name" yName="thongke" radius="65%" innerRadius="50%"
            [dataLabel]="hotSpotDataLabel" [palettes]="hotSpotColors" [border]="border" legendShape="Rectangle">
          </e-accumulation-series>
        </e-accumulation-series-collection>
      </ejs-accumulationchart>  -->
      <div echarts [options]="hotSpotStatisticChartOption" class="hot-spot-statistic-chart" (chartClick)="onChartClick($event)"></div>

    </ng-container>
  </div>
</div>