<div class="weapons-status-3107 w-100 btth-top-panel-card">
  <div class="d-flex justify-content-between" style="margin-bottom: 24px;">
    <div class="d-flex justify-content-between" style="width: 48%">
      <div>
        <h2 class="top-green-text">Trạng thái vũ khí - trang bị</h2>
        <div (click)="togglePopup(true, 'Duphong86Popup')" class="cursor-pointer">
          <p class="top-green-text"> Dự phòng VKTB</p>
        </div>
      </div>
    </div>
    <div class="d-flex gap-7 align-items-center">
      <div class="d-flex align-items-center gap-3">
        <span class="circle-icon green"></span>
        <p style="font-weight: 700">Hoạt động bình thường</p>
      </div>
      <div class="d-flex align-items-center gap-3">
        <span class="circle-icon orange"></span>
        <p style="font-weight: 700">Nâng cấp bảo trì</p>
      </div>
      <div class="d-flex align-items-center gap-3">
        <span class="circle-icon red"></span>
        <p style="font-weight: 700">Có sự cố</p>
      </div>
    </div>
  </div>
  <div class="overflow-auto" style="max-height: 210px; flex: 1">
    <table class="btth-top-table table-weapons-status h-100">
      <thead>
        <tr>
          <th></th>
          <th>Mạng Quân sự</th>
          <th>Mạng Internet</th>
          <th>Mạng Chuyên dùng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let levelGroup of weaponList">
          <td style="font-weight: 700;">{{ levelGroup?.level }}</td>
          <td *ngFor="let mainTypeGroup of levelGroup.list">
            <span *ngFor="let item of mainTypeGroup.list" (click)="handleClick(mainTypeGroup, item)" class="status cursor-pointer {{
                  getStatusClass(item.status)
                }}" style="margin-right: 6px;">
              <p [id]="genIdFromItem(item)" style="font-size: 15px !important;">
                {{ item?.name }}
              </p>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>