<div class="d-flex flex-column gap-6">
  <div class="d-flex gap-6">
    <input class="btth-search-box" type="text" id="searchInput" [(ngModel)]="searchText" placeholder="Tìm kiếm" />
    <div class="d-flex align-items-center gap-3">
      <h4>Trạng thái</h4>
      <select class="btth-select-box" [(ngModel)]="statusType">
        <option selected value="">Tất cả</option>
        <option value="false">Đang hoạt động</option>
        <option value="true">Không hoạt động</option>
      </select>
    </div>
    <div class="d-flex align-items-center gap-3">
      <button class="btth-btn active" (click)="search()">Tìm kiếm</button>
      <button class="btth-btn btn-border" (click)="exportExcel()">Xuất excel</button>
    </div>
  </div>

  <div class="btth-table-detail-wrap">
    <table class="btth-top-table table-popup-detail h-100">
      <thead>
        <tr>
          <th>STT</th>
          <th>IP MAC</th>
          <th>Đơn vị</th>
          <th>Kết nối</th>
          <th>Trạng thái</th>
          <th>Loại mạng, quản lý</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="dataSource?.length === 0">
          <td colspan="6" rowspan="5" class="text-center"><p>Không có dữ liệu</p></td>
        </tr>
        <tr *ngFor="let item of dataSource; let index = index">
          <td>
            <p style="font-weight: 700;">{{ (page - 1) * pageSize + index + 1 }}</p>
          </td>

          <td (click)="openInfoDeviceModal(item?.fms?.mac)" class="hover-pointer">
            <p>{{ item?.fms?.ip }}</p>
            <p class="td-sub-title">
              {{ item?.fms?.mac }}
            </p>
          </td>
          <td>
            <p *ngFor="let unit of item?.unit_ids; let index = index">
              {{ item?.sources[index] || "" }}:{{ getUnitName(unit) || "" }}
            </p>
          </td>
          <td>
            <p>
              {{ item?.last_active | date: "dd-MM-yyyy" }}
            </p>
            <p class="td-sub-title">
              {{ item?.last_active | date: "HH:mm:ss" }}
            </p>
          </td>
          <td>
            <span [ngClass]="item?.not_online ? 'status status-orange' : 'status status-green'">
              {{ item?.not_online ? "Không hoạt động":"Đang hoạt động" }}
            </span>
          </td>
          <td>
            <p>{{ getTypeNetwork(item?.main_type) }}</p>
            <p class="td-sub-title">
              {{ getRegionType(item?.loploi) }}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between">
    <h4>Tổng số: {{total | numberFormat}}</h4>
    <ngb-pagination [collectionSize]="total" [maxSize]="5" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="onPageChange($event)" class="btth-pagination">
    </ngb-pagination>
  </div>
</div>