<div class="table-detail-panel-card table-popup-server">
  <div class="d-flex helptool">
    <input class="detailSearch" type="text" id="searchInput" [(ngModel)]="searchText" placeholder="Tìm kiếm" />
    <div class="d-flex select-box-center">
      Trạng thái:
      <select class="form-select-box-1" [(ngModel)]="statusType">
        <option selected value="">Tất cả</option>
        <option value="up">Đang hoạt động</option>
        <option value="down">Mất kết nối</option>
      </select>
    </div>

    <button class="detailsearchButton" (click)="search()">Tìm kiếm</button>
  </div>
  <div class="table-detail-haft">
    <table>
      <thead>
        <tr>
          <th>STT</th>
          <th>IP/Tên miền</th>
          <th>Tên</th>
          <th>Đơn vị</th>
          <th>
            <div>
              Ngày tạo
            </div>
          </th>
          <th class="text-center">
            <div>
              Trạng thái
            </div>
          </th>
          <th>
            <div>
              Loại mạng
            </div>
            <div>
              Quản lý
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="dataSource?.length === 0">
          <td colspan="10" class="text-center">Không có dữ liệu</td>
        </tr>
        <tr *ngFor="let item of dataSource; let index = index">
          <td>{{ (page - 1) * pageSize + index + 1 }}</td>
          <td>{{ item?.description }}</td>
          <td>
            {{ item?.name }}
          </td>
          <td>
            {{ item?.unit_name_full?.split("\n")[0] || "" }}
            <div>
              {{ item?.unit_name_full?.split("\n")[1] || "" }}
            </div>
          </td>
          <td>
            <div>
              {{ item?.create_at | date: "dd-MM-yyyy" }}
            </div>
            <div>
              {{ item?.create_at | date: "HH:mm:ss" }}
            </div>
          </td>
          <td class="text-center">
            <div [ngClass]="item?.status =='up' ? 'active-status' : 'noactive-status'">
              {{ item?.status =="up" ? "Đang hoạt động":"Mất kết nối" }}
            </div>
          </td>
          <td>
            {{ getTypeNetwork(item?.main_type) }}
            <div>
              {{ getNameRegion(item?.loi) }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between">
    <div class="total">
      <div>Tổng số: <span>{{total | numberFormat}}</span></div>
    </div>
    <div>
      <ngb-pagination
      [collectionSize]="total"
      [maxSize]="5"
      [(page)]="page"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
    >
    </ngb-pagination>
    </div>
  </div>
</div>
