<div class="d-flex flex-column gap-6 h-100 ">

  <div class=" row h-100 btth-lr-panel-card" style="max-width: 100%; margin-left: 12px;">
    <div class="d-flex align-items-center gap-6" style="padding-bottom:12px;">
      <h3 style="white-space: nowrap">Tấn công mạng</h3>
      <!-- <p style="white-space: nowrap; color: rgba(137, 141, 143, 1)">Đang khai thác</p> -->

    </div>

    <!-- Các phần tử col-3 sẽ không bị xuống dòng nếu chiều rộng đủ -->
    <div class="col-6 ">
      <div style="margin-right: 12px;">
        <app-header-chart-v2 [title]="stackChartHoriConfig.title"
          [subTitle]="stackChartHoriConfig.subTitle"></app-header-chart-v2>

        <div class="row">
          <div class="col-12">
            <app-stack-chart-hori [config]="stackChartHoriConfig"></app-stack-chart-hori>
          </div>

        </div>

      </div>
    </div>
    <div class="col-6 ">
      <div style="margin-right: 12px;">
        <app-header-chart-v2 [title]="stackChartHoriPOC.title"
          [subTitle]="stackChartHoriPOC.subTitle"></app-header-chart-v2>
        <div class="row">
          <div class="col-12">
            <app-stack-chart-hori [config]="stackChartHoriPOC"></app-stack-chart-hori>
          </div>

        </div>

      </div>
    </div>
    <div class="col-6 ">

      <div style="margin-right: 12px;">
        <app-header-chart-v2 [title]="nonStackChartConfig.title"
          [subTitle]="nonStackChartConfig.subTitle"></app-header-chart-v2>
        <app-stack-chart [config]="nonStackChartConfig"></app-stack-chart>
      </div>
    </div>
    <div class="col-6">

      <div style="margin-right: 12px;">
        <app-header-chart-v2 [title]="stackChartConfig.title"
          [subTitle]="stackChartConfig.subTitle"></app-header-chart-v2>
        <app-stack-chart [config]="stackChartConfig"></app-stack-chart>
        <app-legend [items]="stackChartConfig.statsList"></app-legend>
      </div>


    </div>
    <div class="col-6">
      <div style="margin-right: 12px;">
        <app-header-chart-v2 [title]="stackChartConfig2.title"
          [subTitle]="stackChartConfig2.subTitle"></app-header-chart-v2>
        <app-stack-chart [config]="stackChartConfig2"></app-stack-chart>
        <app-legend [items]="stackChartConfig2?.summaryList"></app-legend>
      </div>
    </div>
    <div class="col-6">
      <!-- <div style="margin-right: 12px;">
        <app-stack-chart [config]="stackChartConfig2"></app-stack-chart>
      </div> -->
      <app-header-chart-v2 [title]="'Danh sách báo cáo chuyên sâu'" [title]="'Danh sách báo cáo chuyên sâu'"
        [sourceOptions]="[
    { label: 'Cấp 1', color: '#219653' },
    { label: 'Cấp 2', color: '#2F80ED' },
    { label: 'Cấp 3', color: '#F2994A' },
    { label: 'Cấp 4', color: '#EB5757' }
  ]"></app-header-chart-v2>
      <div class="row">
        <div class="col-12">
          <app-table-ptm-v2
            [columns]="[{ label: 'STT', field: 'stt' }, { label: 'Hướng', field: 'direction' }, { label: 'Loại mục tiêu', field: 'targetType' }, { label: 'Dữ liệu khai thác', field: 'exploitData' }, { label: 'Báo cáo chuyên sâu', field: 'deepReport' }]"
            [data]="dataReport" [showExpanded]="true" (rowClicked)="handleRowClick($event)"></app-table-ptm-v2>
        </div>
      </div>
    </div>
  </div>
</div>