<div class="table-duty-roster-3107 h-100">
  <div class="header-container">
    <div id="header">
      <h1 class="header">Thực lực vũ khí trang bị dự phòng</h1>
    </div>
  </div>
  <div class="table-responsive h-85">
    <table class="h-95">
      <thead>
        <tr>
          <th></th>
          <th>BTL</th>
          <th>T1</th>
          <th>T2</th>
          <th>T3</th>
          <th>V4</th>
          <th>T5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Định tuyến</td>
          <td>20</td>
          <td>20</td>
          <td>20</td>
          <td>20</td>
          <td>20</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Chuyển mạch</td>
          <td>60</td>
          <td>60</td>
          <td>60</td>
          <td>60</td>
          <td>60</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Tường lửa</td>
          <td>30</td>
          <td>30</td>
          <td>30</td>
          <td>30</td>
          <td>30</td>
          <td>15</td>
        </tr>
        <tr>
          <td>Máy chủ</td>
          <td>40</td>
          <td>40</td>
          <td>40</td>
          <td>40</td>
          <td>40</td>
          <td>15</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
