:host {
  display: block;
  height: 100%;
  width: 100%;
}

.my-map {
  //position: relative;
  //float: left;
  height: 100%;
  width: 70%;
}

//.my-map-full {
//  position: relative;
//  float: left;
//  height: 100%;
//  width: 100%;
//}
//
//.my-map > * {
//  z-index: 10;
//}
//
//.my-map-full > * {
//  z-index: 10;
//}
//
//.map-interaction {
//  bottom: 0px;
//  right: 0px;
//  height: 0px;
//  position: absolute;
//}
//
//.zoom-control {
//  bottom: 65px;
//  right: 10px;
//  position: relative;
//}
//
//.layer-control {
//  bottom: 13px;
//  left: 10px;
//  position: absolute;
//}
//
//
//.mouse-postion {
//  bottom: 65px;
//  right: 10px;
//  position: relative;
//}
//
//.mouseposition-control {
//  bottom: 65px;
//  right: 10px;
//  position: absolute;
//}







