table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--bgCard);
  font-size: 2em;
  line-height: 1.2em;
  width: 100%;
  //padding: 5px;
}

tr:first-child th:first-of-type {
  border-top-left-radius: 10px;
}

tr:first-of-type th:last-of-type {
  border-top-right-radius: 10px;
}

tr:last-of-type th {
  border-bottom-left-radius: 10px;
}

tbody tr:last-of-type td:first-child {
  border-bottom-left-radius: 10px;
}

tbody tr:last-of-type td:last-child {
  border-bottom-right-radius: 10px;
}

td:last-child {
  border-right: hidden;
}
tr:last-child {
  td {
    border-bottom: hidden;
  }
}
//table {
//  width: 100%;
//  border-collapse: separate;
//  border-spacing: 0;
//  border-radius: 10px;
//  overflow: hidden;
//  margin: 0 auto;
//  position: relative;
//}

table thead tr {
  background-color: var(--colorHighlight);
}

th,
td {
  border: 1px solid black;
  border-top: hidden;
  border-left: hidden;
  padding: 8px;
  text-align: left;
}

td:nth-child(2) {
  text-align: center;
}
tbody tr:nth-child(even) {
  background-color: var(--colorHighlight);
}

.pagination-controls {
  display: flex;
  justify-content: end;
  align-items: center;
  button {
    border: hidden;
    background-color: inherit;
  }
}

.tr-bg-3a {
  td {
    color: var(--colorTitle) !important;
  }
  background-color: var(--colorHighlight) !important;
}
