<div style="padding-top:24px" class="d-flex flex-column gap-6">
  <!-- Trinh sát mạng -->
  <div class="row btth-lr-panel-card" style="margin-left: 0;">
    <div class="col-12">
      <div class="d-flex flex-column gap-6">
        <div class="d-flex gap-6">
          <div class="col-12">
            <div class="d-flex justify-content-between">
              <h3>Trinh sát mạng</h3>
              <nz-range-picker class="custom-range-picker" nzSize="large" [(ngModel)]="date" nzFormat="dd/MM/YYYY"(ngModelChange)="onChange($event)">
              </nz-range-picker>
            </div>

            <div class="row m-0">
              <!-- Cột 1 -->
              <div class="col-5">
                <div style="padding:12px 0;">
                  <app-header-chart [title]="'Tình hình không gian mạng'"></app-header-chart>
                </div>
                <app-table-kgm *ngIf="thKGM.length > 0" [columns]="[
    { label: 'STT', field: 'stt' },
    { label: 'Nội dung', field: 'noi_dung_rut_gon' },
    { label: 'Thời gian', field: 'ngay_su_kien' }
  ]" [data]="thKGM"></app-table-kgm>
              </div>

              <!-- Cột 2 -->
              <div style="padding-left:12px" class="col-7">
                <div style="padding:12px 0;">
                  <app-header-chart [title]="'Lộ lọt dữ liệu'"></app-header-chart>
                </div>
                <div class="row m-0">
                  <div class="col-3">
                    <app-pie-chart [config]="chartConfig"></app-pie-chart>
                    <app-legend [items]="[
  { color: '#008000', label: 'BNN' },
  { color: '#1E90FF', label: 'VPQH' },
  { color: '#FFA500', label: 'VPCP' },
  { color: '#FF0000', label: 'Quân đội' },
  { color: 'rgb(140, 119, 119)', label: 'Khác' }
]"></app-legend>
                  </div>
                  <div class="col-9 p-0">
                    <app-table-ll [height]="'430'" [headers]="['STT','TT lộ lọt','Ngày', 'Chủ quan']"
                      [fields]="['stt', 'tt lộ lọt', 'ngày', 'chủ quan']" [data]="dataLeak">
                    </app-table-ll>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Bảng tổ chức hacker -->
      <div style="padding:12px 0;">
        <app-header-chart [title]="'Tổ chức hacker'"></app-header-chart>
      </div>
      <app-table-ptm [height]="'360'" [headers]="['STT','TT lộ lọt','Số lượng','Thời gian', 'Trạng thái']"
        [fields]="['stt', 'tt lộ lọt', 'số lượng', 'thời gian', 'trạng thái']" [data]="dataFollow">
      </app-table-ptm>
    </div>
  </div>
</div>