<div>
  <h2>Thống kê theo loại mạng và cấp độ</h2>
  <div style="height: 600px;">
    <div echarts [options]="statisticTypeNetChartOption" class="statistic-domain-chart-popup" [autoResize]="true"></div>
    <!-- <ejs-chart
      [primaryXAxis]="primaryXAxis"
      [primaryYAxis]="primaryYAxis"
      id="chart-container"
    >
      <e-series-collection>
        <e-series
          [dataSource]="chartData"
          type="Column"
          xName="name"
          yName="cap1"
          fill="#045E2B"
          [marker]="marker"
          columnWidth="0.25"
        ></e-series>
        <e-series
          [dataSource]="chartData"
          type="Column"
          xName="name"
          yName="cap2"
          fill="#F58501"
          [marker]="marker"
          columnWidth="0.25"
        ></e-series>
        <e-series
          [dataSource]="chartData"
          type="Column"
          xName="name"
          yName="cap3"
          fill="#1D85E7"
          [marker]="marker"
          columnWidth="0.25"
        ></e-series>
      </e-series-collection>
    </ejs-chart> -->
  </div>
</div>