<div [style.max-height.px]="height" class="table-wrapper">
  <table class="custom-table">
    <thead class="table-head">
      <tr>
        <th *ngFor="let col of columns" class="table-cell">
          {{ col.label }}
        </th>
      </tr>
    </thead>
    <tbody class="table-body">
      <ng-container *ngFor="let row of data">
        <tr class="table-row">
          <td *ngFor="let col of columns" (click)="onRowClick(row)" class="table-cell">
            <ng-container *ngIf="col.field === 'status' || col.field === 'level'; else normalCell">
              <app-badge [label]="row[col.field]" type="status"></app-badge>
            </ng-container>

            <ng-template #normalCell>
              <p class="ellipsis-text" [innerHTML]="row[col.field]"></p>
            </ng-template>
          </td>
        </tr>

        <!-- Bảng con mở rộng -->
        <tr *ngIf="row.stt === expandedRowId && showExpanded">
          <td [attr.colspan]="columns.length" style="padding-left: 0;">
            <table class="custom-table">
              <thead class="table-head">
                <tr>
                  <th class="table-cell">Tên lỗ hổng</th>
                  <th class="table-cell">Độ nghiêm trọng</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr class="table-row" *ngFor="let vuln of row?.details">
                  <td class="table-cell">{{ vuln.name }}</td>
                  <td class="table-cell">{{ vuln.level }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
