.top-green-text {
  color: rgba(4, 94, 43, 1);
}

.btth-btn-duty {
    border: 1px solid rgba(218, 221, 222, 1);
    border-radius: 8px;
    padding: 6px 28px;
    min-width: 120px;
    font-size: 22px;
    font-weight: 500;
    background-color: #FFF;
}

.btth-btn-duty.active {
    background-color: var(--colorButton2);
    color: white;
}