<div class="mangcd-component d-flex flex-column gap-6">
  <!-- Mạng Văn phòng Quốc Hội  -->
  <div class="row btth-lr-panel-card" style="margin-left: 0px; margin-right: 0">
    <div
      class="d-flex justify-content-between align-items-center"
      style="padding-bottom: 12px"
    >
      <h3 style="white-space: nowrap">Văn phòng Quốc Hội</h3>
      <nz-range-picker
        class="custom-range-picker"
        nzSize="large"
        [(ngModel)]="date"
        nzFormat="dd/MM/yyyy"
        (ngModelChange)="onChange($event)"
      ></nz-range-picker>
    </div>
    <div class="d-flex gap-6">
      <div class="col-3">
        <app-header-chart
          [title]="'Hạ tầng công nghệ thông tin'"
          [subTitle]="
            'Tổng: ' +
            titleHT_QH.total_managed_devices +
            '/' +
            titleHT_QH.total_all_devices
          "
        ></app-header-chart>
        <div class="info-cards">
          <div class="card" *ngFor="let item of data">
            <div class="label">{{ item.label }}</div>
            <div class="value">{{ item.value }}</div>
          </div>
        </div>
        <div class="row" style="margin-top: 16px">
          <app-stack-chart-hori
            [config]="stackChartConfig"
          ></app-stack-chart-hori>
        </div>
      </div>

      <div class="col-3">
        <app-header-chart
          [title]="'Cảnh báo ATTT'"
          [subTitle]="
            'Tổng: ' +
            titleQH.total_alerts +
            '/' +
            titleQH.total_devices +
            ' Thiết bị'
          "
        ></app-header-chart>
        <div class="row">
          <div class="col-12">
            <app-pie-chart [config]="chartConfig"></app-pie-chart>
          </div>
        </div>
      </div>
      <div style="width: calc(50% - 70px)">
        <div
          class="row align-items-center mb-2"
          style="
            background-color: #f4f6f7;
            border-radius: 12px;
            margin-left: 0px;
          "
        >
          <!-- Cột trái -->
          <div class="col">
            <app-header-chart
              [title]="'Sự cố an toàn thông tin'"
            ></app-header-chart>
          </div>

          <!-- Cột phải -->
          <div class="col-auto">
            <div class="d-flex align-items-center gap-3">
              <span class="d-flex align-items-center" style="font-size: 22px">
                <span class="dot red me-1"></span> Cao:
                {{ countByLevel("Cao") }}
              </span>
              <span class="d-flex align-items-center" style="font-size: 22px">
                <span class="dot yellow me-1"></span>
                Trung bình: {{ countByLevel("Trung bình") }}
              </span>
              <span class="d-flex align-items-center" style="font-size: 22px">
                <span class="dot green me-1"></span> Thấp:
                {{ countByLevel("Thấp") }}
              </span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <app-table-ptm
              [headers]="[
                'STT',
                'Mac nguồn',
                'IP nguồn',
                'IP đích',
                'Số lượng',
                'Cảnh báo',
                'Thời gian',
                'Mức độ'
              ]"
              [fields]="[
                'stt',
                'source_mac',
                'source_ip',
                'destination_ip',
                'total_incidents',
                'latest_description',
                'latest_incident_time',
                'most_common_severity'
              ]"
              [data]="tableData"
              [columnClasses]="{
                stt: 'text-center col-05',
                source_mac: 'text-center col-15',
                source_ip: 'col-102',
                destination_ip: 'col-102',
                total_incidents: 'text-center  col-1',
                latest_description: 'col-3',
                latest_incident_time: 'text-center col-1',
                most_common_severity: 'text-center col-1'
              }"
            >
            </app-table-ptm>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mạng Văn Phòng Chính Phủ -->
  <div class="row btth-lr-panel-card" style="margin-left: 0px; margin-right: 0">
    <div
      class="d-flex justify-content-between align-items-center"
      style="padding-bottom: 12px"
    >
      <h3 style="white-space: nowrap">Văn phòng Chính Phủ</h3>
      <nz-range-picker
        class="custom-range-picker"
        nzSize="large"
        [(ngModel)]="date"
        nzFormat="dd/MM/yyyy"
        (ngModelChange)="onChange($event)"
      ></nz-range-picker>
    </div>
    <div class="d-flex gap-6">
      <div class="col-3">
        <app-header-chart
          [title]="'Hạ tầng công nghệ thông tin'"
          [subTitle]="
            'Tổng: ' +
            titleHT_CP.total_managed_devices +
            '/' +
            titleHT_CP.total_all_devices
          "
        ></app-header-chart>
        <div class="info-cards">
          <div class="card" *ngFor="let item of data">
            <div class="label">{{ item.label }}</div>
            <div class="value">{{ item.value }}</div>
          </div>
        </div>
        <div class="row" style="margin-top: 16px">
          <app-stack-chart-hori
            [config]="stackChartConfigCP"
          ></app-stack-chart-hori>
        </div>
      </div>

      <div class="col-3">
        <app-header-chart
          [title]="'Cảnh báo ATTT'"
          [subTitle]="
            'Tổng: ' +
            titleCP.total_alerts +
            '/' +
            titleCP.total_devices +
            ' Thiết bị'
          "
        ></app-header-chart>
        <div class="row">
          <div class="col-12">
            <app-pie-chart [config]="chartConfigCP"></app-pie-chart>
          </div>
        </div>
      </div>

      <div style="width: calc(50% - 70px)">
        <div
          class="row align-items-center mb-2"
          style="
            background-color: #f4f6f7;
            border-radius: 12px;
            margin-left: 0px;
          "
        >
          <!-- Cột trái -->
          <div class="col">
            <app-header-chart
              [title]="'Sự cố an toàn thông tin'"
            ></app-header-chart>
          </div>

          <!-- Cột phải -->
          <div class="col-auto">
            <div class="d-flex align-items-center gap-3">
              <span class="d-flex align-items-center" style="font-size: 22px">
                <span class="dot red me-1"></span> Cao:
                {{ countByLevelCP("Cao") }}
              </span>
              <span class="d-flex align-items-center" style="font-size: 22px">
                <span class="dot yellow me-1"></span>
                Trung bình: {{ countByLevelCP("Trung bình") }}
              </span>
              <span class="d-flex align-items-center" style="font-size: 22px">
                <span class="dot green me-1"></span> Thấp:
                {{ countByLevelCP("Thấp") }}
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-table-ptm
              [headers]="[
                'STT',
                'Mac nguồn',
                'IP nguồn',
                'IP đích',
                'Số lượng',
                'Cảnh báo',
                'Thời gian',
                'Mức độ'
              ]"
              [fields]="[
                'stt',
                'source_mac',
                'source_ip',
                'destination_ip',
                'total_incidents',
                'latest_description',
                'latest_incident_time',
                'most_common_severity'
              ]"
              [data]="tableData"
              [columnClasses]="{
                stt: 'text-center col-05',
                source_mac: 'text-center col-15',
                source_ip: 'col-102',
                destination_ip: 'col-102',
                total_incidents: 'text-center  col-1',
                latest_description: 'col-3',
                latest_incident_time: 'text-center col-1',
                most_common_severity: 'text-center col-1'
              }"
            >
            </app-table-ptm>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
