<div>
  <h2>Thống kê theo trạng thái</h2>
</div>
<div class="h-100 chart-center-item">
  <ejs-accumulationchart [id]="id" [legendSettings]="legendSettings">
    <e-accumulation-series-collection>
      <e-accumulation-series
        [dataSource]="pieData"
        [dataLabel]="nuanceDataLabel"
        [palettes]="nuanceColors"
        radius="50%"
        xName="x"
        yName="y"
        type="Pie"
      ></e-accumulation-series>
    </e-accumulation-series-collection>
  </ejs-accumulationchart>
</div>
