<div class="map-legend">
  <div class="legend-item">
    <div class="line black"></div>
    <span>Tuyến quân sự</span>
  </div>
  <div class="legend-item">
    <div class="line green"></div>
    <span>Tuyến Internet</span>
  </div>
  <div class="legend-item">
    <div class="line brown"></div>
    <span>Đường biên giới quốc gia</span>
  </div>
  <div class="legend-item">
    <div class="circle red"></div>
    <span>Cảnh báo mất kết nối</span>
  </div>
  <div class="legend-item">
    <div class="circle yellow"></div>
    <span>Cảnh báo an toàn thông tin</span>
  </div>
</div>
