<div class="d-flex flex-column gap-6">
  <div class="d-flex justify-content-end">
    <div class="d-flex gap-2 align-items-center" style="line-height: 65px;">
      <h4>Đóng</h4>
      <button (click)="togglePopup(false)" style="border: none; padding: 0; outline: none; background: none;">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.6663 31.6663L8.33301 29.333L17.6663 19.9997L8.33301 10.6663L10.6663 8.33301L19.9997 17.6663L29.333 8.33301L31.6663 10.6663L22.333 19.9997L31.6663 29.333L29.333 31.6663L19.9997 22.333L10.6663 31.6663Z"
            fill="#080808" />
        </svg>
      </button>
    </div>
  </div>
  <div class="d-flex gap-6">
    <div class="col-3 btth-lr-panel-card">
      <app-statistic-pie-chart-popup [pieData]="pieData"></app-statistic-pie-chart-popup>
    </div>
    <div class="col-9 btth-lr-panel-card" style="flex: 1">
      <app-column-chart-left-panel [columnData]="columnData"></app-column-chart-left-panel>
    </div>
  </div>
  <div>
    <app-table-detail [tableData]="tableData" [mainType]="mainType" [subType]="subType" [startDate]="startDate"
      [endDate]="endDate" [isClickTrongNgay]="isClickTrongNgay" [regionType]="regionType"></app-table-detail>
  </div>
</div>