.top-green-text {
  color: rgba(4, 94, 43, 1);
  font-size: 22px;
}
.table-combat-readiness th:nth-child(1),  
.table-combat-readiness td:nth-child(1) {  
  width: 200px;  
}
.custom-table {
  border-collapse: collapse;
  width: 100%;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.custom-table th,
.custom-table td {
  border: 1px solid #ddd;
  padding: 6px 12px;
  font-size: 22px;
  vertical-align: middle;
  font-weight: 600;
  font-family: "Inter", sans-serif !important;
}

.custom-table th {
  background: #f9f9f9;
  font-weight: 600;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 6px;
}

.status-dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.status-green { background-color: green; }
.status-yellow { background-color: #ffeb3b; }
.status-orange { background-color: #ff9800; }
.status-red { background-color: #f44336; }