<div class="duty-roster-3107 btth-top-panel-card">
  <div class="d-flex justify-content-between" style="margin-bottom: 25px;">
    <div>
      <h2 class="top-green-text">Kịp trực, trạng thái TCTT, cấp độ xử trí</h2>
      <h4 class="top-green-text">
       TCH TT: {{ data.truc_chi_huy }} - TB: {{ data.truc_ban }} 
      </h4>
    </div>
    <div class="d-flex gap-6">
      <div>
        <h5 class="top-green-text" style="font-weight: 700;">Quân số</h5>
        <h4 class="top-green-text" style="font-weight: 700; text-align: right;">{{ data.quan_so_tong }}</h4>
      </div>
      <div>
        <h5 class="top-green-text" style="font-weight: 700;">Có mặt</h5>
        <h4 class="top-green-text" style="font-weight: 700; text-align: right;">{{ data.quan_so_co_mat }}</h4>
      </div>
      <div>
        <h5 class="top-green-text" style="font-weight: 700;">Vắng mặt</h5>
        <h4 class="top-green-text" style="font-weight: 700; text-align: right;">{{ data.quan_so_vang_mat }}</h4>
      </div>
    </div>
  </div>
  <div class="overflow-auto" style="height: 190px; flex: 1">
    <table class="custom-table">
      <thead>
        <tr>
          <th></th>
          <th style="font-weight: 700;">TM</th>
          <th style="font-weight: 700;">CT</th>
          <th style="font-weight: 700;">HCKT</th>
          <th style="font-weight: 700;">Cụm 51</th>
          <th style="font-weight: 700;">Cụm 52</th>
          <th style="font-weight: 700;">Cụm 53</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: 700; width: 240px;">Trực chỉ huy</td>
          <td>{{ data.tch_tm }}</td>
          <td>{{ data.tch_ct }}</td>
          <td>{{ data.tch_hckt }}</td>
          <td>{{ data.tch_cm51 }}</td>
          <td>{{ data.tch_cm52 }}</td>
          <td>{{ data.tch_cm53 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 700;">Trạng thái TCTT</td>
          <td><span [class]="getDotClass(data.ttsscd_tm)"></span>{{ data.ttsscd_tm }}</td>
          <td><span [class]="getDotClass(data.ttsscd_ct)"></span>{{ data.ttsscd_ct }}</td>
          <td><span [class]="getDotClass(data.ttsscd_hckt)"></span>{{ data.ttsscd_hckt }}</td>
          <td><span [class]="getDotClass(data.ttsscd_cm51)"></span>{{ data.ttsscd_cm51 }}</td>
          <td><span [class]="getDotClass(data.ttsscd_cm52)"></span>{{ data.ttsscd_cm52 }}</td>
          <td><span [class]="getDotClass(data.ttsscd_cm53)"></span>{{ data.ttsscd_cm53 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 700;">Cấp độ xử trí</td>
          <td>{{ data.cap_do_xu_tri_tm }}</td>
          <td>{{ data.cap_do_xu_tri_ct }}</td>
          <td>{{ data.cap_do_xu_tri_hckt }}</td>
          <td>{{ data.cap_do_xu_tri_cm51 }}</td>
          <td>{{ data.cap_do_xu_tri_cm52 }}</td>
          <td>{{ data.cap_do_xu_tri_cm53 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
