<div class="duty-roster-3107 btth-top-panel-card">
  <div class="d-flex justify-content-between" style="margin-bottom: 25px;">
    <div>
      <h2 class="top-green-text">Kịp trực, trạng thái SSCĐ, cấp độ xử trí</h2>
      <h4 class="top-green-text">TCH TT: 2// Nguyễn Văn Mạnh, PCHT TMT - TB: 3/ Đào Thanh Tùng</h4>
    </div>
    <div class="d-flex gap-6">
      <div>
      <h5 class="top-green-text" style="font-weight: 700;">Quân số</h5>
      <h4 class="top-green-text" style="font-weight: 700; text-align: right;">142</h4>
    </div>
    <div>
      <h5 class="top-green-text" style="font-weight: 700;">Có mặt</h5>
      <h4 class="top-green-text" style="font-weight: 700; text-align: right;">138</h4>
    </div>
    <div>
      <h5 class="top-green-text" style="font-weight: 700;">Vắng mặt</h5>
      <h4 class="top-green-text" style="font-weight: 700; text-align: right;">4</h4>
    </div>
    </div>
  </div>
  <div class="overflow-auto" style="height: 190px; flex: 1">
<table class="custom-table">
  <thead>
    <tr>
      <th></th>
      <th style="font-weight: 700;">TM</th>
      <th style="font-weight: 700;">CT</th>
      <th style="font-weight: 700;">HCKT</th>
      <th style="font-weight: 700;">Cụm 51</th>
      <th style="font-weight: 700;">Cụm 52</th>
      <th style="font-weight: 700;">Cụm 53</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-weight: 700;">Trực chỉ huy</td>
      <td>Đ.Minh</td>
      <td>B.Sơn</td>
      <td>Đ.Hội</td>
      <td>P.Cường</td>
      <td>N.Cường</td>
      <td>N.Linh</td>
    </tr>
    <tr>
      <td style="font-weight: 700;">Trạng thái SSCĐ</td>
      <td><span class="dot"></span> TX</td>
      <td><span class="dot"></span> TX</td>
      <td><span class="dot"></span> TX</td>
      <td><span class="dot"></span> TX</td>
      <td><span class="dot"></span> TX</td>
      <td><span class="dot"></span> TX</td>
    </tr>
    <tr>
      <td style="font-weight: 700;">Cấp độ xử trí</td>
      <td></td>
      <td></td>
      <td></td>
      <td><span class="dot"></span> Cấp độ 1</td>
      <td><span class="dot"></span> Cấp độ 1</td>
      <td><span class="dot"></span> Cấp độ 1</td>
    </tr>
  </tbody>
</table>

  </div>
</div>