.text-class{
    font-size: 15px;
    font-weight: 700;
    padding-left: 10px;
}
.info-cards {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 0 64px;
  margin-top: 16px;
  .card {
    background-color: #e9f3ee;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    min-width: 100px;
    width: 100%;

    .label {
      font-weight:700;
      color: #0f3c2d;
      font-size: 22px;
    }

    .value {
      font-weight: 700;
      color: #0f3c2d;
      font-size: 22px;
    //   margin-top: 4px;
    }
  }
 
}
::ng-deep  .ant-picker-range {
    width: 302px !important;
    border-radius: 12px !important;
  }
::ng-deep .custom-range-border .ant-picker {
  border: 2px solid #595959 !important;
}