<div class="d-flex flex-column gap-6">
    <div class="row btth-lr-panel-card" style="margin-left:20px;margin-right: 0;">
        <div class="d-flex justify-content-between align-items-center" style="padding-bottom:12px;">
            <h3 style="white-space: nowrap">Phòng thủ mạng</h3>
            <nz-range-picker class="custom-range-picker" nzSize="large" nzFormat="dd/MM/YYYY" [(ngModel)]="date"
                (ngModelChange)="onChange($event)"></nz-range-picker>
        </div>
        <div class="row gutter-12">
            <div class="col-4">
                <app-header-chart [title]="'Phạm vi săn tìm'"></app-header-chart>
                <div class="info-cards">
                    <div class="card" *ngFor="let item of data">
                        <div class="label">{{ item.label }}</div>
                        <div class="value">{{ item.value }}</div>
                    </div>
                </div>
                <div class="row" style="margin-top: 16px;">
                    <app-stack-chart-hori [config]="stackChartConfig"></app-stack-chart-hori>
                </div>
            </div>
            <!-- Cảnh báo ATTT -->
            <div style="padding-left: 12px;" class="col-4">
                <app-header-chart [title]="'Cảnh báo ATTT'" [subTitle]="'Tổng: 422/500 Thiết bị'"></app-header-chart>
                <div class="row">

                    <div class="col-12">
                        <app-pie-chart [config]="chartConfig"></app-pie-chart>
                    </div>
                </div>
            </div>
            <div style="padding-left: 12px;" class="col-4">
                <div class="row">
                    <app-header-chart [title]="nonStackChartConfig.title"
                        [subTitle]="nonStackChartConfig?.subTitle"></app-header-chart>
                    <app-stack-chart [config]="nonStackChartConfig"></app-stack-chart>
                </div>
            </div>
        </div>



    </div>
</div>