<div class="h-100 detail-panel">
  <!--  <app-tctt-diemnong-popup></app-tctt-diemnong-popup>-->
  <!-- <app-agents-qs-popup/> -->
  <!-- <app-tctt-truyenthong-popup></app-tctt-truyenthong-popup> -->
  <!-- <app-tctt-truyenthong-popup></app-tctt-truyenthong-popup> -->
  <!-- <app-tctt-truyenthong-popup></app-tctt-truyenthong-popup> -->
  <!-- <app-operational-detail-command/>  -->
  <!-- <app-ct86-popup /> -->
  <!--  <app-chi-tiet-nhiem-vu-full-popup> </app-chi-tiet-nhiem-vu-full-popup>-->
  <app-fidelis-popup />
  <!--  <app-agents-qs-popup />-->
  <!-- <app-du-phong-86-popup /> -->
  <!-- <app-nacs-popup /> -->
  <!-- <app-ta21-popup /> -->
  <!--  <app-card-2-col> </app-card-2-col>-->
  <!--  <app-tctt-popup-tuongquanbaiviet></app-tctt-popup-tuongquanbaiviet>-->
  <!--  <app-tctt-popup-sacthai></app-tctt-popup-sacthai>-->
  <!--  <app-tctt-popup-kqdangtai></app-tctt-popup-kqdangtai>-->
  <!--  <app-tctt-popup-chudenong></app-tctt-popup-chudenong>-->
  <!-- <app-fms-popup></app-fms-popup> -->
  <!--  <app-switch-popup></app-switch-popup>-->
  <!-- <app-add-operator></app-add-operator> -->
  <!--  <app-server-popup></app-server-popup>-->
  <!--  <app-router-popup></app-router-popup>-->
  <!--  <app-other-device-popup></app-other-device-popup>-->
  <!--  <app-firewall-popup></app-firewall-popup>-->
  <!--  <app-common-popup></app-common-popup>-->
  <!--  <app-client-popup></app-client-popup>-->
  <!--  <app-intel-info></app-intel-info>-->
  <!--  <app-pop-up-2></app-pop-up-2>-->
  <!--  <app-add-operator></app-add-operator>-->
  <!--    <app-tctt-popup></app-tctt-popup>-->
  <!--  <app-tctt-popup-chudenong></app-tctt-popup-chudenong>-->
  <!--  <app-tctt-popup-sacthai></app-tctt-popup-sacthai>-->
  <!--    <app-tctt-popup-tuongquanmuctieu></app-tctt-popup-tuongquanmuctieu>-->
  <!--    <app-tctt-popup-tuongquanbaiviet></app-tctt-popup-tuongquanbaiviet>-->
  <!--  <app-tctt-popup-kqdangtai></app-tctt-popup-kqdangtai>-->
  <!-- <app-mms-popup></app-mms-popup> -->
  <!--  <app-cleaned-malware-popup></app-cleaned-malware-popup>-->
  <!--  <app-dinh-danh-khong-dong-nhat-popup></app-dinh-danh-khong-dong-nhat-popup>-->
  <!--  <app-thiet-bi-dau-cuoi-popup></app-thiet-bi-dau-cuoi-popup>-->
  <!--  <app-client-popup></app-client-popup>-->
  <!--  <app-detail-device-modal></app-detail-device-modal>-->
  <!--  <app-operational-detail-command></app-operational-detail-command>-->
</div>
