<div class="row mb-2 align-items-center" style="margin:12px 12px">
  <div class="d-flex align-items-center" 
       *ngFor="let item of line1" 
       [ngClass]="'col-' + colSize">
    <span class="legend-color" [style.backgroundColor]="item.color"></span>
    <span class="legend-label">{{ item.label }}</span>
  </div>

  <div class="d-flex align-items-center" 
       *ngFor="let item of line2" 
       [ngClass]="'col-' + colSize">
    <span class="legend-color" [style.backgroundColor]="item.color"></span>
    <span class="legend-label">{{ item.label }}</span>
  </div>
</div>