
    <div class="d-flex justify-content-between">
      <h3>Tỉ lệ tin tiêu cực</h3>
      <!-- <div class="d-flex gap-6 align-items-center">
        <label class="d-flex gap-2 align-items-center">
          <input type="radio" name="option" value="1" [(ngModel)]="selectedOption" (change)="handleRadioChange('1')"/>
          <h4 style="color: rgba(83, 83, 83, 1);">Theo ngày</h4>
        </label>
        <label class="d-flex gap-2 align-items-center">
          <input type="radio" name="option" value="2" [(ngModel)]="selectedOption" (change)="handleRadioChange('2')" />
          <h4 style="color: rgba(83, 83, 83, 1);">Theo khoảng</h4>
        </label>
      </div> -->
    </div>
  
   
      <!-- <div style="height: 240px;"> -->
        <div echarts [options]="lineChartOption" [style.height]='"240px"'></div>
      <!-- </div> -->
 
