<form [formGroup]="passwordFormGroup" (ngSubmit)="onSubmit()">
  <div class="row mb-5">
    <label class="col-lg-4 col-form-label required fs-6" for="password">
      Mật khẩu
    </label>
    <div class="col-lg-8">
      <div class="input-group">
        <span class="input-group-text"><i class="fa fa-lock"></i></span>
        <input
          id="password"
          type="{{ hidePassword ? 'password' : 'text' }}"
          class="form-control form-control-lg"
          formControlName="password"
        />
        <span class="input-group-text">
          <i
            class="{{ hidePassword ? 'fa fa-eye' : 'fa fa-eye-slash' }}"
            style="cursor: pointer"
            (click)="hidePassword = !hidePassword"
          ></i>
        </span>
      </div>
    </div>
    <div
      *ngIf="
        passwordFormGroup.get('password')?.invalid &&
        passwordFormGroup.get('password')?.touched
      "
    >
      <span role="alert" style="color: red"> Vui lòng nhập giá trị </span>
    </div>
  </div>

  <div class="row mb-5">
    <label class="col-lg-4 col-form-label required fs-6" for="confirmPassword">
      Xác nhận mật khẩu
    </label>
    <div class="col-lg-8">
      <div class="input-group">
        <span class="input-group-text"><i class="fa fa-lock"></i></span>
        <input
          id="confirmPassword"
          type="{{ hideConfirmPassword ? 'password' : 'text' }}"
          class="form-control form-control-lg"
          formControlName="confirmPassword"
        />
        <span class="input-group-text">
          <i
            class="{{ hideConfirmPassword ? 'fa fa-eye' : 'fa fa-eye-slash' }}"
            style="cursor: pointer"
            (click)="hideConfirmPassword = !hideConfirmPassword"
          ></i>
        </span>
      </div>
    </div>
    <div
      *ngIf="
        passwordFormGroup.get('confirmPassword')?.invalid &&
        passwordFormGroup.get('confirmPassword')?.touched
      "
    >
      <span role="alert" style="color: red"> Vui lòng nhập giá trị </span>
    </div>
    <div
      *ngIf="
        passwordFormGroup.get('confirmPassword')?.valid &&
        passwordFormGroup.errors?.passwordMismatch
      "
    >
      <span role="alert" style="color: red"> Mật khẩu không trùng khớp </span>
    </div>
  </div>

  <div class="row justify-content-end">
    <button
      type="button"
      class="btn btn-primary w-100px"
      [disabled]="passwordFormGroup.invalid"
      (click)="onSubmit()"
    >
      Lưu
    </button>
  </div>
</form>
