<div class="mangqs-component d-flex flex-column gap-6">
  <!-- Máy tính quân sự  -->
  <div class="row btth-lr-panel-card" style="margin-left: 0px; margin-right: 0">
    <div
      class="d-flex justify-content-between align-items-center"
      style="padding-bottom: 12px"
    >
      <h3 style="white-space: nowrap">Máy tính Quân sự</h3>
      <nz-range-picker
        class="custom-range-picker"
        nzSize="large"
        [(ngModel)]="date"
        (ngModelChange)="onChange($event)"
      ></nz-range-picker>
    </div>
    <div class="d-flex gap-6">
      <div class="col-3">
        <app-header-chart [title]="'Phạm vi săn tìm'"></app-header-chart>
        <div class="info-cards">
          <div class="card" *ngFor="let item of data">
            <div class="label">{{ item.label }}</div>
            <div class="value">{{ item.value }}</div>
          </div>
        </div>
        <div class="row" style="margin-top: 16px">
          <!-- <app-pie-chart [config]="chartConfig"></app-pie-chart> -->
          <app-stack-chart-hori
            [config]="stackChartHoriPOC"
          ></app-stack-chart-hori>
        </div>
      </div>

      <div class="col-3">
        <app-header-chart
          [title]="'Cảnh báo ATTT'"
          [subTitle]="'Tổng: 12/12 Thiết bị'"
        ></app-header-chart>
        <div class="row">
          <div class="col-12">
            <app-pie-chart [config]="chartConfig"></app-pie-chart>
          </div>
        </div>
      </div>
      <div style="width: 30%">
        <!-- <app-header-chart [title]="'Dấu hiệu tấn công theo chiến - kỹ thuật'"></app-header-chart> -->
        <div class="row">
          <app-header-chart
            [title]="nonStackChartConfig.title"
            [subTitle]="nonStackChartConfig?.subTitle"
          ></app-header-chart>
          <app-stack-chart [config]="nonStackChartConfig"></app-stack-chart>
        </div>
      </div>
      <div style="width: 20%">
        <app-header-chart
          [title]="'Kết quả săn tìm mối nguy cơ'"
          [subTitle]="
            'Tổng: ' + tableData.length + '/' + tableData.length + ' loại MĐ'
          "
        ></app-header-chart>
        <div class="row mt-4">
          <div class="col-12">
            <app-table-ptm
              [headers]="['STT', 'Mã độc', 'Số lượng']"
              [fields]="['stt', 'name', 'qantity']"
              [data]="tableData"
              [columnClasses]="{
                stt: 'text-center col-1',
                name: 'col-2',
                qantity: 'text-center col-1'
              }"
            >
            </app-table-ptm>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tự động hóa chỉ huy -->
  <div class="row btth-lr-panel-card" style="margin-left: 0px; margin-right: 0">
    <div
      class="d-flex justify-content-between align-items-center"
      style="padding-bottom: 12px"
    >
      <h3 style="white-space: nowrap">Tự động hóa chỉ huy</h3>
      <nz-range-picker
        class="custom-range-picker"
        nzSize="large"
        [(ngModel)]="date"
        (ngModelChange)="onChange($event)"
      ></nz-range-picker>
    </div>
    <div class="d-flex gap-6">
      <div class="col-3">
        <app-header-chart [title]="'Giám sát cổng mở'"></app-header-chart>
        <div class="info-cards">
          <div class="card" *ngFor="let item of data">
            <div class="label">{{ item.label }}</div>
            <div class="value">{{ item.value }}</div>
          </div>
        </div>
        <div class="row" style="margin-top: 16px">
          <!-- <app-pie-chart [config]="chartConfig"></app-pie-chart> -->
          <app-stack-chart-hori
            [config]="stackChartConfig2"
          ></app-stack-chart-hori>
        </div>
      </div>

      <div class="col-3">
        <app-header-chart
          [title]="'Cảnh báo ATTT'"
          [subTitle]="'Tổng: 7/7 Thiết bị'"
        ></app-header-chart>
        <div class="row">
          <div class="col-12">
            <app-pie-chart [config]="chartConfigTDH"></app-pie-chart>
          </div>
        </div>
      </div>
      <div style="width: 30%">
        <div class="row">
          <app-header-chart
            [title]="nonStackChartConfigTDH.title"
            [subTitle]="nonStackChartConfigTDH?.subTitle"
          ></app-header-chart>
          <app-stack-chart [config]="nonStackChartConfigTDH"></app-stack-chart>
        </div>
      </div>
      <div style="width: 20%">
        <div>
          <div class="row align-items-center justify-content-between">
            <div
              class="d-flex align-items-center gap-2"
              style="
                background: #f4f6f7;
                border-radius: 12px;
                justify-content: space-between;
              "
            >
              <!-- app-header-chart -->
              <app-header-chart
                [title]="'Kết quả săn tìm mối nguy cơ'"
                [subTitle]="nonStackChartConfig?.subTitle"
              ></app-header-chart>

              <!-- radio buttons -->
              <nz-radio-group [(ngModel)]="selectedOption" ngDefaultControl>
                <label nz-radio [nzValue]="'Radar'">Radar</label>
                <label nz-radio [nzValue]="'VQ'">VQ</label>
              </nz-radio-group>
            </div>
          </div>
          <div>
            <div class="row mt-4">
              <div class="col-12">
                <app-table-ptm
                  [headers]="['STT', 'Mã độc', 'Số lượng']"
                  [fields]="['stt', 'name', 'qantity']"
                  [data]="tableDataTDH"
                  [columnClasses]="{
                    stt: 'text-center col-1',
                    name: 'col-2',
                    qantity: 'text-center col-1'
                  }"
                >
                </app-table-ptm>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
