<div class="table-detail-panel-card h-100">
  <div class="h-95">
    <table class="h-95">
      <thead>
        <tr>
          <th>STT</th>
          <th>Nhiệm vụ</th>
          <th>Người giao</th>
          <th>Ngày giao</th>
          <th>Nguồn Tin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataSource; let index = index">
          <td>{{ (page - 1) * pageSize + index + 1 }}</td>
          <td>{{ item?.NhiemVu }}</td>
          <td>{{ item?.NguoiGiao }}</td>
          <td>{{ item?.NgayGiao }}</td>
          <td>{{ item?.NguonTin }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end p-2">
      <ngb-pagination
        [collectionSize]="total"
        [maxSize]="8"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
