<div [style.max-height.px]="height" class="table-wrapper">
  <table class="custom-table">
    <thead class="table-head">
      <tr>
        <th *ngFor="let head of headers" class="table-cell">
          {{ head }}
        </th>
      </tr>
    </thead>
    <tbody class="table-body">
      <ng-container *ngFor="let row of data">
        <tr class="table-row">
          <td
            (click)="onRowClick(row)"
            *ngFor="let key of headers"
            class="table-cell"
          >
            <ng-container
              *ngIf="key === 'Trạng thái' || key === 'Mức độ'; else normalCell"
            >
              <app-badge
                [label]="row[key.toLowerCase()]"
                type="status"
              ></app-badge>
            </ng-container>

            <!-- Ngược lại, hiển thị bình thường -->
            <ng-template #normalCell>
              <p class="ellipsis-text">{{ row[key.toLowerCase()] }}</p>
            </ng-template>
          </td>
        </tr>
        <tr *ngIf="row.stt === expandedRowId && showExpanded">
          <td style="padding-left: 0" [attr.colspan]="headers.length">
            <!-- Table con -->
            <table class="custom-table">
              <thead class="table-head">
                <tr>
                  <th class="table-cell">Tên lỗ hổng</th>
                  <th class="table-cell">Độ nghiêm trọng</th>
                </tr>
              </thead>
              <tbody class="table-body">
                <tr class="table-row" *ngFor="let vuln of row?.details">
                  <td class="table-cell">{{ vuln.name }}</td>
                  <td class="table-cell">{{ vuln.level }}</td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
