<div class="duty-roster-3107 btth-top-panel-card">
  <div style="margin-bottom: 25px;">
    <h2 class="top-green-text">Trạng thái VKTB</h2>
  </div>
  <div class="overflow-auto" style="height: 216px; flex: 1">
    <table class="network-table">
      <thead>
        <tr>
          <th></th>
          <th>Đang xử lý</th>
          <th>Tổng số</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>Mạng Quân sự</strong></td>
          <td class="ellipsis-text">{{ data.mang_qs }}</td>
          <td>{{ data.mang_qs_so_luong }}</td>
        </tr>
        <tr>
          <td><strong>Mạng Internet</strong></td>
          <td class="ellipsis-text">{{ data.mang_internet }}</td>
          <td>{{ data.mang_internet_so_luong }}</td>
        </tr>
        <tr>
          <td><strong>Mạng Chuyên dùng</strong></td>
          <td class="ellipsis-text">{{ data.mang_chuyen_dung }}</td>
          <td>{{ data.mang_chuyen_dung_so_luong }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
