<div class="table-detail-panel-card table-popup-server">
  <div class="d-flex helptool">
    <input
      class="detailSearch"
      type="text"
      id="searchInput"
      [(ngModel)]="searchText"
      placeholder="Tìm kiếm"
    />
    <div class="d-flex select-box-center">
      Nguồn:
      <select class="form-select-box-1" [(ngModel)]="source">
        <option selected value="">Tất cả</option>
        <!-- <option *ngIf="mainType == '' || mainType == 'QS'" value="FMS">
          FMS
        </option>
        <option *ngIf="mainType == '' || mainType == 'QS' || mainType == 'INT'" value="TA21">
          TA21
        </option>
        <option *ngIf="mainType == '' || mainType == 'QS'" value="FIDELIS">
          FIDELIS
        </option>
        <option *ngIf="mainType == '' || mainType == 'QS'" value="IBM Qradar">
          IBM Qradar
        </option>
        <option *ngIf="mainType == '' || mainType == 'CD'" value="MMS">
          MMS
        </option>
        <option *ngIf="mainType == '' || mainType == 'CD'" value="NextAV">
          NextAV
        </option>
        <option *ngIf="mainType == '' || mainType == 'INT'" value="SOCI">
          SOC-i
        </option>
        <option *ngIf="mainType == '' || mainType == 'INT'" value="VCM">
          VCM
        </option> -->
        <option value="NACS">NACS</option>
        <option value="PRTG">PRTG</option>
        <option value="HSM">HSM</option>
        <option value="BTTH">BTTH</option>
      </select>
    </div>
    <div class="d-flex select-box-center">
      Loại sự kiện:
      <select class="form-select-box-1" [(ngModel)]="is_deleted">
        <option selected value="">Tất cả</option>
        <option value="false">Thêm mới</option>
        <option value="true">Gỡ bỏ</option>
      </select>
    </div>

    <button class="detailsearchButton" (click)="search()">Tìm kiếm</button>
    <button class="detailsearchButton" (click)="exportExcel()">Xuất excel</button>
  </div>
  <div class="table-detail-haft">
    <table>
      <thead>
        <tr>
          <th>STT</th>
          <th>Loại thiết bị</th>
          <th>IP/Tên miền</th>
          <th>Đơn vị</th>
          <th>Hệ thống</th>
          <th class="text-center">Sự kiện</th>
          <th>Ngày tạo</th>
          <th>
            <div>Loại mạng</div>
            <div>Quản lý</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="dataSource?.length === 0">
          <td colspan="10" class="text-center">Không có dữ liệu</td>
        </tr>
        <tr *ngFor="let item of dataSource; let index = index">
          <td>{{ (page - 1) * pageSize + index + 1 }}</td>
          <td>{{ item?.type == "ROUTER" ? getNameRouter(item?.category): getTypeNetworkDeviceType()  }}</td>
          <td>
            {{ item?.management_ip }}
          </td>
          <td>
            {{ item?.unit_name_full?.split("\n")[0] || "" }}
            <div>
              {{
                item?.unit_name_full?.split("\n")[1] == "Hệ thống mạng"
                  ? ""
                  : item?.unit_name_full?.split("\n")[1]
              }}
            </div>
          </td>
          <td>
            {{ item?.source || "" }}
          </td>
          <td>
            <div [ngClass]="item?.is_deleted ? 'noactive-status' : 'active-status'">
              {{ item?.is_deleted ? "Gỡ bỏ" : "Thêm mới" }}
            </div>
          </td>
          <td>
            <div>
              {{ item?.create_at | date: "dd-MM-yyyy" }}
            </div>
            <div>
              {{ item?.create_at | date: "HH:mm:ss" }}
            </div>
          </td>
          <td>
            {{ getTypeNetwork(item?.main_type) }}
            <div>
              {{ getNameRegion(item?.loploi) }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-between">
    <div class="total">
      <div>
        Tổng số: <span>{{ total | numberFormat }}</span>
      </div>
    </div>
    <div>
      <ngb-pagination
        [collectionSize]="total"
        [maxSize]="5"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="onPageChange($event)"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
