<div
  class="card ol-statistical-panel"
  style="border-radius: 0; overflow-y: auto"
>
  <div class="card-header">
    <h4 class="card-title fw-bolder m-0">Thống kê</h4>
    <div class="card-toolbar">
      <button
        class="btn btn-sm btn-light-primary d-flex align-items-center"
        (click)="closeModal.emit()"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Đóng thống kê"
      >
        <i class="fa-solid fa-xmark"></i>
        Đóng
      </button>
    </div>
  </div>
  <div class="card-body p-5">
    <div class="row h-100">
      <div class="col-6 d-flex flex-column">
        <div class="card shadow-sm flex-fill">
          <div class="card-header">
            <div class="card-title">Chỉ số sắc thái</div>
          </div>
          <div class="card-body">
            <ejs-accumulationchart id="chart-container-pie" [legendSettings]="legendSettings">
              <e-accumulation-series-collection>
                <e-accumulation-series [dataSource]="piedata" xName="x" yName="y" type="Pie"></e-accumulation-series>
              </e-accumulation-series-collection>
            </ejs-accumulationchart>
          </div>
        </div>
        <div class="card shadow-sm flex-fill">
          <div class="card-header">
            <div class="card-title">Diễn biến tin tiêu cực</div>
          </div>
          <div class="card-body">
            <ejs-chart id="chart-container-line" [primaryXAxis]="primaryXAxisLine" [primaryYAxis]="primaryYAxisLine"
            >
              <e-series-collection>
                <e-series [dataSource]="chartData" type="Line" xName="x" yName="y"></e-series>
              </e-series-collection>
            </ejs-chart>
          </div>
        </div>
        <div class="card shadow-sm flex-fill">
          <div class="card-header">
            <div class="card-title">Chủ đề nổi bật</div>
          </div>
          <div class="card-body h-500px">

          </div>
        </div>
      </div>
      <div class="col-6 d-flex flex-column">
        <div class="card shadow-sm flex-fill">
          <div class="card-header">
            <div class="card-title">Cảnh báo livestream</div>
          </div>
          <div class="card-body">
            <div class="live-list overflow-auto custom-scrollbar">
              <div class="mb-3 p-3 d-flex align-items-start cursor-pointer live-item">
                <img src="/assets/media/avatars/blank.png"
                     class="me-3 rounded-circle"
                     style="width: 40px; height: 40px;">
                <div class="flex-1" style="font-family: Quicksand-SemiBold;">
                  <div class="font-weight-700 fs-1" style="font-family: Quicksand-Bold;">
                    Tan Thai
                  </div>
                  <div class="fs-2">
                    <div class=""><i class="la la-clock"></i>
                      13/07/2024 13:21
                    </div>
                  </div>
                  <div class="d-flex justify-content-between fs-1">
                    <div class="me-3">
                      155
                      lượt xem
                    </div>
                    <div>
                      0
                      tương tác
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 p-3 d-flex align-items-start cursor-pointer live-item">
                <img src="/assets/media/avatars/blank.png"
                     class="me-3 rounded-circle"
                     style="width: 40px; height: 40px;">
                <div class="flex-1" style="font-family: Quicksand-SemiBold;">
                  <div class="font-weight-700 fs-1" style="font-family: Quicksand-Bold;">
                    Tan Thai
                  </div>
                  <div class="fs-2">
                    <div class=""><i class="la la-clock"></i>
                      13/07/2024 13:21
                    </div>
                  </div>
                  <div class="d-flex justify-content-between fs-1">
                    <div class="me-3">
                      155
                      lượt xem
                    </div>
                    <div>
                      0
                      tương tác
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-3 p-3 d-flex align-items-start cursor-pointer live-item">
                <img src="/assets/media/avatars/blank.png"
                     class="me-3 rounded-circle"
                     style="width: 40px; height: 40px;">
                <div class="flex-1" style="font-family: Quicksand-SemiBold;">
                  <div class="font-weight-700 fs-1" style="font-family: Quicksand-Bold;">
                    Tan Thai
                  </div>
                  <div class="fs-2">
                    <div class=""><i class="la la-clock"></i>
                      13/07/2024 13:21
                    </div>
                  </div>
                  <div class="d-flex justify-content-between fs-1">
                    <div class="me-3">
                      155
                      lượt xem
                    </div>
                    <div>
                      0
                      tương tác
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow-sm flex-fill">
          <div class="card-header">
            <div class="card-title">Thống kê đối tượng livestream</div>
          </div>
          <div class="card-body">
            <ejs-chart id="chart-container-column" [primaryXAxis]="primaryXAxisCol" [primaryYAxis]="primaryYAxisCol"
            >
              <e-series-collection>
                <e-series [dataSource]="chartDataCol" type="Column" xName="country" yName="gold"
                          name="Video"></e-series>
              </e-series-collection>
            </ejs-chart>
          </div>
        </div>
        <div class="card shadow-sm flex-fill">
          <div class="card-header">
            <div class="card-title">Bài viết có độ lan tỏa lớn</div>
          </div>
          <div class="card-body h-500px">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
