.search-container {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.search-container input {
  width: 30%;
  margin: 0.5em;
  box-sizing: border-box;
  border-radius: 0.8rem;

  &::placeholder {
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.pagination button {
  margin: 0 1em;
  padding: 1em 2em;
}

.close-icon {
  cursor: pointer;
  font-size: 3em;
}
.data-table {
  height: calc(90% - 3em);
  margin: 1em 1em 2em 1em;
  table {
    background: var(--bgGroup);
    border-radius: 1.4em;
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    tr {
      &:last-child {
        td:first-child {
          border-bottom-left-radius: 0.8em;
        }

        td:last-child {
          border-bottom-right-radius: 0.8em;
        }
      }
    }

    tr {
      td {
        border-top: 0.1em solid var(--colorBorderGroup);
      }

      &:first-child {
        th:first-child {
          border-top-left-radius: 0.8em;
        }

        th:last-child {
          border-top-right-radius: 0.8em;
        }
      }
    }

    td {
      background: none;
      border: 0.1em solid var(--colorBorderGroup);
      font-size: 1.5em;
      line-height: 1.2em;
      font-weight: 500;
      color: #3a3a3a;
      vertical-align: middle;
      border-top: none;
      border-left: none;
      text-align: center;
      height: 3em;
      div {
        font-weight: 300;
        font-size: 1em;
        color: #757575;
      }
      cite {
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
      }

      cite.yellow_odd {
        color: #f58501;
      }

      cite.red_odd {
        color: #d00b0b;
      }

      &:first-child {
        font-size: 1.5em;
        line-height: 1.2em;
        border-left: 0.1em solid var(--colorBorderGroup);
      }
    }

    th {
      color: #3a3a3a;
      font-size: 1.5em;
      line-height: 1.2em;
      background: var(--bgCard);
      border: 0.1em solid var(--colorBorderGroup);
      vertical-align: middle;
      border-left: none;
      text-align: center;
      &:first-child {
        width: 5%;
      }
      &:nth-child(2) {
        width: 30%;
      }
      &:nth-child(5) {
        width: 30%;
      }

      &.text-right {
        text-align: right;
      }
    }

    th:first-child {
      border-top-left-radius: 0.8em;
      border-left: 0.1em solid var(--colorBorderGroup);
      text-align: center;
      padding-left: 0 !important;
    }

    th:last-child {
      border-top-right-radius: 0.8em;
    }
  }
}
